//Colours
$darkgreen: #132b19;
$midgreen: #124d20;
$lightgreen: #9abf08;

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");
/*** MIXINS ***/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
// END MIXINS

// GENERAL
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
}

a {
  &:hover {
    opacity: 0.7;
  } //&hover
} //a

a#sitetitle {
  color: white;
  text-decoration: none;
  padding: 0.2em 0 0 1em;
  display: block;
  position: fixed;
  width: 100%;
  background: $darkgreen;
  height: 1.8em;
  z-index: 9;
  font-family: "Corben", cursive;
  font-size: 1.5em;
  border-bottom: 0.1em solid darken($lightgreen, 20%);
  font-family: "Playfair Display", serif;
  font-family: "EB Garamond", serif;
} // a#sitetitle

// NAV
nav {
  height: 3em;

  top: 0;
  background: lighten(black, 10%);
  //border-bottom:0.1em solid gray;
} //nav
#menu {
  .active {
    color: darken($lightgreen, 5%);
    border-left: 0.1em solid darken($lightgreen, 5%);
    padding-left: 0.5em;
  }
  > ol {
    //1st level
    position: fixed;
    z-index: 999;
    height: 100vh;
    width: 18em;
    top: 0;
    right: -100vw;
    margin: 0;
    @include transition(all 300ms ease-in);
    background: lighten(black, 12%);
    padding: 5em 0 0 3em;
    line-height: 1.4;
    overflow: scroll;
    text-align: left;
    > li {
      display: block;
      margin-bottom: 1em;
      > a {
        font-size: 1.6em;
        text-decoration: none;
        display: block;
        line-height: 1;
        color: white;
      } //a
      &:last-of-type {
        padding-bottom: 50vh;
      } //&:not(:last-of-type)
      > ol {
        //2nd level
        margin-bottom: 1em;
        li {
          list-style-type: none;
          a {
            color: white;
            text-decoration: none;
          } //a
        } //li
      } //ol
    } //li
  } /* end ol*/
  label {
    display: block;
    @include transition(all 250ms ease-in);
    cursor: pointer;
    position: fixed;
    padding: 0.5em 1em;
    background: transparent;
    top: 0;
    right: 0;
    font-size: 1.2em;
    color: white;
    z-index: 9999;
  }
  input#legend[type="checkbox"] {
    display: none;
  }
  input#legend[type="checkbox"]:checked ~ ol {
    margin: 0;
    right: 0;
  }
  input#legend[type="checkbox"]:checked ~ label.legend {
    right: 2em;
    @include transform(rotate(0));
    background: none;
    @include transition(all 400ms ease-in);
    /* cross icon */
    &:before {
      content: "X";
      position: fixed;
      right: -1em;
      top: 0.3em;
      height: 1.7em;
      width: 1.7em;
      text-align: center;
      color: white;
      cursor: pointer;
      font-size: 1.3em;
    }
  }
} /* end #menu*/
// END MENU

// BASEMAP
#basemap {
  z-index: 0 !important;
  position: fixed;
  top: 6em;
  height: calc(100% - 6em);
  width: 100%;
  .leaflet-map-pane {
    filter: grayscale(22%) sepia(10%) saturate(92%) contrast(92%);
  } //.leaflet-map-pane
}
//MAP
.mapOverlay {
  z-index: 1 !important;
  position: absolute;
  // Added by EH to allow click events to go through to basemap
  pointer-events: none;
  
  img {
    max-width: 50%;
  }

  nav {
    // We still want clicks on the nav though
    pointer-events: auto;
    background: darkgray;
    height: 2.4em;
    top: 3em;
    background: $darkgreen;
    height: 3.2em;
    top: 2.8em;
    border-bottom: 0;
    position: fixed;
    width: 100%;
    font-family: "Pontano Sans", sans-serif;
    > ol {
      //1st level
      width: 100%;
      counter-reset: li;
      display: flex;
      margin-left: -40px;
      height: 2em;
      > li {
        width: 33.33%;
        cursor: pointer;
        list-style-type: none;
        > a {
          text-decoration: none;
          color: darkgray;
          display: block;
          padding: 0.5em 0 0 2em;
          line-height: 1;
          margin-top: -0.9em;
          border-right: 0.1em solid $midgreen;
          background: rgba(255, 255, 255, 0.2);
          opacity: 0.8;
          text-transform: uppercase;
          font-size: 1.2em;
          &:before {
            counter-increment: li;
            content: counter(li);
            font-size: 2.2em;
            padding-right: 0.3em;
            opacity: 0.4;
            vertical-align: middle;
            top: -0.1em;
            left: -0.2em;
            position: relative;
            font-weight: 800;
            font-family: "Manrope", sans-serif;
          } //before
          &:hover {
            background: $darkgreen;
            color: white;
          }
          &.active {
            background: $darkgreen;
            color: white;
            &:before {
              color: $lightgreen;
              opacity: 0.7;
            } //active
          } //active
        } // a
        > ol {
          //2nd level
          display: flex;
          width: 300%;
          margin-left: calc(-100% - 40px);
          list-style-type: none;
          background: $darkgreen;
          > li {
            width: 25%;
            margin-right: 0.05em;

            text-align: center;
            a {
              text-decoration: none;
              color: white;
              background: rgba(255, 255, 255, 0.4);
              width: 100%;
              display: block;
              padding: 0.3em 0;
              opacity: 0.4;
              border-top: 0.1em solid transparent;
              &:hover {
                background: $darkgreen;
                color: white;
                opacity: 1;
              }
              &.active {
                background: $darkgreen;
                color: white;
                opacity: 1;
                border-top: 0.1em solid darken($lightgreen, 15%);
              } //active
            } //a
          } //li
        } //ol
      } //li

      input[type="checkbox"]:checked + label.check {
        /*** Minus icon ***/
        &:before,
        &:after {
          transform: rotate(90deg);
        }
        &:before {
          display: none;
        }
      } //input

      input[type="checkbox"]:checked + label + ol {
        /* reset the height when checkbox is checked */
        max-height: 1000px;
      }
    } //ol
  } //nav

  section {
    padding: 5em 1em;
    h1 a {
      margin-top: 10em;
      font-size: 1.7em;
    } //h1 a
    article {
      width: 40%;
      background: rgba(255, 255, 255, 0.9);
      padding: 2em;
      margin-bottom: 100vh;
      text-align: justify;

      p {
      }
      figure {
        width: 95%;
        padding: 2.5% 2.5% 0 2.5%;
        margin: 0;
        background: lighten(black, 15%);
        img {
          width: 100%;
        }
        figcaption {
          width: 95%;
          margin-left: -2.5%;
          padding: 1% 2%;
          background: lighten(black, 15%);
          color: white;
          font-size: 0.9em;
          a {
            color: white;
          } //a
        } //figcaption
      } //figure
    }
  } //section
} //#map
//MAP
