{% assign navPages = collections.all | eleventyNavigation %}

<a id="sitetitle" href="/">Movement and Common World in Early America</a>
<nav>
  <div id="menu">
    <input id="legend" type="checkbox"/>
    <label class="legend" role="button" for="legend">Menu</label>
    <ol>
      <li> <a href="#overview">Overview</a></li>
      <li> <a href="#stories">Stories  </a>
        <ol>
          <li><a href="#s-intro">Introduction</a></li>
          <li><a href="#s-1">Homelands</a></li>
          <li><a href="#s-2">Villagers, Settlers</a></li>
          <li><a href="#s-3">Pathways</a></li>
          <li><a href="#s-4">Borders</a></li>
        </ol>
      </li>
      <li> <a href="#filters">Filters </a></li>
      <li> <a href="#about">About</a></li>
      <li> <a href="#team">Team</a></li>
      <li> <a href="#mappage">Maps</a></li>
      <li> <a href="#resources">Resources</a></li>
    </ol>
    <!--            
      <ul>
          {% for entry in navPages %}
          <li class="{% if page.url | contains: entry.url %}is-active{% endif %}">
            <a href="{{ entry.url | url}}">{{ entry.title }}</a>
          </li>
          {% endfor %}
      </ul>-->
  </div>
</nav>
