{% assign navPages = collections.all | eleventyNavigation %}


      <a href="/">Movement and Common World in Early America</a>
      <nav>
        <input id="sitenav" type="checkbox" />
        <label aria-label="Menu" class="sitenav-label" for="sitenav"> </label>
        <ul>
          {% for entry in navPages %}
          <li class="{% if page.url | contains: entry.url %}is-active{% endif %}">
            <a href="{{ entry.url | url}}">{{ entry.title }}</a>
          </li>
          {% endfor %}

        </ul>
      </nav>
