@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap");
body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #fff;
  background-color: black;
  font-family: "Manrope", sans-serif;
}

/* HEADER and SITE NAVIGATION*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #132b19;
  height: 2.4em;
  padding: 0.9em 0.8em;
  z-index: 1;
  /* SITE NAVIGATION*/
  /* end nav */
}
header a {
  font-size: 1.7em;
  color: white;
  text-decoration: none;
  font-weight: 600;
  line-height: 0.4;
}
header a span {
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 100;
}
header nav {
  /* end ul */
}
header nav ul {
  list-style: none;
  background: #132b19;
  position: fixed;
  top: 4.2em;
  border-top: 4px solid #124D20;
  padding-top: 2em;
  right: 0;
  height: 100%;
  margin: 0 -17em 0 0;
  -moz-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  overflow: scroll;
  /* end li */
}
header nav ul li {
  margin-left: -40px;
  /* end a */
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 100;
  padding: 1rem 2rem 1rem 3rem;
  display: block;
  letter-spacing: 0.2vw;
}
header nav ul li:hover {
  background: #124D20;
}
header nav label {
  display: block;
  -moz-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  z-index: 2;
  cursor: pointer;
}
header nav label.sitenav-label {
  position: absolute;
  top: 0.9em;
  right: 5.5em;
  font-size: 1.05em;
  color: white;
}
header nav label.sitenav-label:before {
  content: "MENU";
  position: absolute;
}
header nav label.sitenav-label:hover {
  color: #d9d9d9;
}
header nav input#sitenav[type=checkbox] {
  display: none;
}
header nav input#sitenav[type=checkbox]:checked ~ ul {
  margin: 0;
  width: 20em;
}
header nav input#sitenav[type=checkbox]:checked ~ label.sitenav-label {
  /* cross icon */
}
header nav input#sitenav[type=checkbox]:checked ~ label.sitenav-label:before {
  content: "✕";
  right: -3.5rem;
  color: white;
  font-size: 2rem;
  top: -0.3rem;
}
header nav input#sitenav[type=checkbox]:checked ~ label.sitenav-label:hover:before {
  color: #d9d9d9;
}

/* PAGE NAVIGATION */
#pagenav {
  position: fixed;
  top: 4.2em;
  padding: 3em 0 5em 0;
  left: 0;
  width: 17em;
  height: 100%;
  background: #132b19;
  border-top: 3px solid #124D20;
  overflow: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#pagenav a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  text-decoration: none;
}
#pagenav a:hover {
  color: #9ABF08;
}
#pagenav a:hover ol li:before {
  color: #9ABF08;
}
#pagenav > ol {
  list-style-type: none;
  counter-reset: li;
  margin-left: -30px;
}
#pagenav > ol > li:before {
  counter-increment: li;
  content: counter(li);
  font-size: 2.2em;
  padding-right: 0.3em;
  opacity: 0.4;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  top: -0.1em;
  position: relative;
  font-weight: 800;
}
#pagenav > ol > li:hover:before {
  color: #9ABF08;
  opacity: 0.6;
}
#pagenav > ol > li > ol {
  list-style-type: none;
}
#pagenav > ol > li > ol > li > ol {
  list-style-type: none;
}
#pagenav-toggle:checked ~ #pagenav {
  left: -17em;
  z-index: 1;
}
#pagenav-toggle:checked ~ main {
  margin-left: 0;
}

#pagenav-toggle:checked ~ main #pagenav-label {
  background: #124D20;
  color: white;
  left: 0;
  top: 4.6em;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#pagenav-toggle:checked ~ main #pagenav-label:before {
  content: "";
}
#pagenav-toggle:checked ~ main #pagenav-label:after {
  content: " >";
}

/* MENU TOGGLE ICON */
#pagenav-label {
  display: inline-block;
  position: fixed;
  top: 4.6em;
  left: 0;
  width: 8.5em;
  height: 1.5em;
  padding: 0.1em 0.6em 0.8em 0.6em;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: white;
  background: #124D20;
  font-family: "Corben", cursive;
}
#pagenav-label:before {
  content: "< ";
  position: relative;
}
#pagenav-label:focus {
  outline: none;
}

/* MAIN PAGE */
main {
  margin-left: 17em;
  height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
main article {
  color: black;
  width: 40%;
  background: rgba(255, 255, 255, 0.8);
  padding: 2em;
  overflow: scroll;
  margin-top: 1.7em;
  line-height: 1.5;
  height: 100vh;
}
main .basemap {
  z-index: -1;
  position: absolute;
}