/*** MIXINS ***/
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

a:hover {
  opacity: 0.7;
}

a#sitetitle {
  color: white;
  text-decoration: none;
  padding: 1em 0 0 2em;
  display: block;
  position: fixed;
  width: 100%;
  background: black;
  height: 2em;
  z-index: 9;
}

nav {
  height: 3em;
  top: 0;
  background: #1a1a1a;
}

#menu {
  /* end ol*/
}
#menu .active {
  color: green;
}
#menu > ol {
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 18em;
  top: 0;
  right: -100vw;
  margin: 0;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  background: #1f1f1f;
  padding: 5em 0 0 3em;
  line-height: 1.4;
  overflow: scroll;
  text-align: left;
}
#menu > ol > li {
  display: block;
  margin-bottom: 1em;
}
#menu > ol > li > a {
  font-size: 1.5em;
  text-decoration: none;
  display: block;
  line-height: 1;
  color: white;
}
#menu > ol > li:last-of-type {
  padding-bottom: 50vh;
}
#menu > ol > li > ol {
  margin-bottom: 1em;
}
#menu > ol > li > ol li {
  list-style-type: none;
}
#menu > ol > li > ol li a {
  color: white;
  text-decoration: none;
}
#menu label {
  display: block;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  cursor: pointer;
  position: fixed;
  padding: 0.5em 1em;
  background: black;
  top: 0;
  right: 0;
  font-size: 1.2em;
  color: white;
  z-index: 9999;
}
#menu input#legend[type=checkbox] {
  display: none;
}
#menu input#legend[type=checkbox]:checked ~ ol {
  margin: 0;
  right: 0;
}
#menu input#legend[type=checkbox]:checked ~ label.legend {
  right: 2em;
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  background: none;
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  -ms-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  /* cross icon */
}
#menu input#legend[type=checkbox]:checked ~ label.legend:before {
  content: "X";
  position: fixed;
  right: -1em;
  top: 0.3em;
  height: 1.7em;
  width: 1.7em;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 1.3em;
}

/* end #menu*/
#basemap {
  z-index: 0 !important;
  position: fixed;
  top: 6em;
  height: calc(100% - 6em);
  width: 100%;
}
#basemap .leaflet-map-pane {
  filter: grayscale(22%) sepia(10%) saturate(92%) contrast(92%);
}

.map {
  z-index: 1 !important;
  position: absolute;
}
.map nav {
  background: darkgray;
  height: 2.4em;
  top: 3em;
  border-bottom: 0;
  position: fixed;
  width: 100%;
}
.map nav > ol {
  width: 100%;
  counter-reset: li;
  display: flex;
  margin-left: -40px;
  height: 2em;
}
.map nav > ol > li {
  width: 33.33%;
  cursor: pointer;
  list-style-type: none;
}
.map nav > ol > li > a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 0.2em 0 0 2em;
  margin-top: -1em;
  margin-right: 0.1em;
  background: rgba(0, 0, 0, 0.2);
}
.map nav > ol > li > a:before {
  counter-increment: li;
  content: counter(li);
  font-size: 2.2em;
  padding-right: 0.3em;
  opacity: 0.4;
  vertical-align: middle;
  top: 0;
  left: -0.2em;
  position: relative;
  font-weight: 800;
}
.map nav > ol > li > a.active {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.map nav > ol > li > ol {
  display: flex;
  width: 300%;
  margin-left: calc(-100% - 40px);
  list-style-type: none;
  background: darkgray;
}
.map nav > ol > li > ol > li {
  width: 25%;
  margin-right: 0.05em;
  text-align: center;
}
.map nav > ol > li > ol > li a {
  text-decoration: none;
  color: black;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: block;
  padding: 0.3em 0;
}
.map nav > ol > li > ol > li a.active {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.map nav > ol input[type=checkbox]:checked + label.check {
  /*** Minus icon ***/
}
.map nav > ol input[type=checkbox]:checked + label.check:before, .map nav > ol input[type=checkbox]:checked + label.check:after {
  transform: rotate(90deg);
}
.map nav > ol input[type=checkbox]:checked + label.check:before {
  display: none;
}
.map nav > ol input[type=checkbox]:checked + label + ol {
  /* reset the height when checkbox is checked */
  max-height: 1000px;
}
.map section {
  padding: 5em 1em;
}
.map section h1 a {
  margin-top: 10em;
}
.map section article {
  width: 40%;
  background: rgba(255, 255, 255, 0.9);
  padding: 1em;
  margin-bottom: 100vh;
}
.map section article figure {
  width: 95%;
  padding: 2.5% 2.5% 0 2.5%;
  margin: 0;
  background: #262626;
}
.map section article figure img {
  width: 100%;
}
.map section article figure figcaption {
  width: 95%;
  margin-left: -2.5%;
  padding: 1% 2%;
  background: #262626;
  color: white;
  font-size: 0.9em;
}
.map section article figure figcaption a {
  color: white;
}